body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6; }

a {
  text-decoration: none;
  color: unset; }

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  width: 100%;
  min-height: 4rem;
  background-color: #f6f6f6;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .navbar-container .navbar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-left: 1rem; }
    .navbar-container .navbar-logo img {
      width: 1.3rem;
      cursor: pointer; }
  .navbar-container .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar-container .navbar-menu .menu-element {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      font-size: 1.2rem;
      cursor: pointer;
      font-family: "Thasadith", sans-serif;
      font-weight: 200;
      text-transform: capitalize;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .navbar-container .navbar-menu .menu-element:hover {
      color: rgba(241, 106, 123, 0.9); }
  .navbar-container .navbar-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    height: 100%;
    position: relative;
    margin-right: 1rem; }
    .navbar-container .navbar-cart .cart-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      font-size: 1.3rem; }
    .navbar-container .navbar-cart .cart-items {
      padding: 2px 6px;
      background-color: #f16a7b;
      color: white;
      font-size: 0.85rem;
      position: absolute;
      top: 1rem;
      right: 1.6rem;
      border-radius: 50%;
      font-family: "Thasadith", sans-serif; }

.navbar-container:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(106, 105, 105, 0.1);
  box-shadow: 0px 0px 20px rgba(106, 105, 105, 0.1); }

.slide-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgba(246, 246, 246, 0.8);
  -webkit-box-shadow: 0px 20px 20px rgba(106, 105, 105, 0.1);
  box-shadow: 0px 20px 20px rgba(106, 105, 105, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%); }
  .slide-bar .slidebar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 2rem; }
    .slide-bar .slidebar-item .slidebar-link {
      font-size: 1.1rem;
      font-family: "Thasadith", sans-serif;
      color: rgba(0, 0, 0, 0.9);
      padding: .5rem;
      text-transform: capitalize;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .slide-bar .slidebar-item .slidebar-link:hover {
      color: rgba(241, 106, 123, 0.9); }
    .slide-bar .slidebar-item img {
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .slide-bar .slidebar-item img:hover {
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

.bar-visible {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.sidecart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 300px;
  background-color: aqua;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #fbfbfb;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.sidecart_visible {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }
