

$mainpink: rgba(241, 106, 123, .9);
$mainwhite: rgba(246, 246, 246, 1);
$fontmain: 'Thasadith', sans-serif;

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(246, 246, 246, 1);
}


a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: unset;
    border: none;
}

button:focus{
    outline: none;
}

.btn {
    font-size: 1.2rem;
    border: 1px solid rgba(241, 106, 123, .5);
    border-radius: .7rem;
    padding: .8rem;
    cursor: pointer;
    font-family: $fontmain;
    transition: .2s;
  }
.btn:hover {
    color: #fff;
    background-color: rgba(241, 106, 123, .7);
    border: 1px solid rgba(241, 106, 123, 0); 
}

.invisible {
    display: none;
}

// ----------------------------- Navbar
.navbar-container {
    @include flexbox;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 4;
    width: 100%;
    min-height: 4rem;
    background-color: $mainwhite;
    transition: .3s;
    box-shadow: 0px 0px 20px rgba(106, 105, 105, .1);
    .navbar-logo{
        @include flexbox;
        width: 100px;
        height: 100%;
        margin-left: 1rem;
        img {
            width: 1.3rem;
            cursor: pointer;
        }
    }
    .navbar-menu {
        @include flexbox;
        width: 70%;
        height: 100%;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .menu-element {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            font-size: 1.2rem;
            cursor: pointer;
            font-family: $fontmain;
            font-weight: 200;
            text-transform: capitalize;
            transition: .3s;
        }
        .menu-element:hover {
            color: $mainpink;
        }
    }
    .navbar-cart {
        @include flexbox;
        width: 100px;
        height: 100%;
        position: relative;
        margin-right: 1rem;
        .cart-logo {
            @include flexbox;
            cursor: pointer;
            font-size: 1.3rem;
        }
        .cart-items {
            padding: 2px 6px;
            background-color: rgba(241, 106, 123, 1);
            color: rgba(255, 255, 255, 1);
            font-size: 0.85rem;
            position: absolute;
            top: 1rem;
            right: 1.6rem;
            border-radius: 50%;
            font-family: $fontmain;
        }
    }
}

@media (max-width: 750px) {
    .navbar-container {
        .navbar-menu {
            .menu-element {
                font-size: 1.3rem;
            }
        }
    }}

@media (max-width: 500px) {
    .navbar-container {
        flex-direction: column;
        li {
            line-height: 2.5rem;
        }
        .navbar-menu {
            flex-direction: column;
            .menu-element {
                font-size: 1.5rem;
            }
        }
    }}


// ----------------------------- Slidebar menu
.slide-bar {
    @include flexbox;
    visibility: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgba(246, 246, 246, .8);
    box-shadow: 0px 20px 20px rgba(106, 105, 105, .1);
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all .5s ease-in-out;
    transform: translateY(-120%);
    .slidebar-item {
        @include flexbox;
        flex-direction: column;
        margin: 0 2rem;
        .slidebar-link {
            font-size: 1.1rem;
            font-family: $fontmain;
            color: rgba(0, 0, 0, .9);
            padding: .5rem;
            text-transform: capitalize;
            transition: .3s;
        }
        .slidebar-link:hover {
            color: rgba(241, 106, 123, .9);
        }
        img {
            cursor: pointer;
            transition: .3s;
        }
        img:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
        }
    }
}

.bar-visible {
    transform: translateY(0%);
    visibility: visible;
}

@media (max-width: 750px) {
    .slide-bar {
        flex-direction: column;
        .slidebar-item {
            margin: 0 1rem;
    }
}}


@media (max-width: 500px) {
    .slide-bar {
        flex-wrap: wrap;
        flex-direction: column;
        img {
            display: none;
        }
    }
}

// ----------------------------- Slidecart menu
.sidecart {
    @include flexbox;
    position: fixed;
    z-index: 2;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 300px;
    background-color: aqua;
    transform: translateX(100%);
    background-color: rgba(251, 251, 251, 1);
    // box-shadow: -15px 0px 10px rgba(106, 105, 105, .1);
    transition: all .5s ease-in-out;
}

.sidecart_visible {
    transform: translateX(0%);
}


// ----------------------------- Product Page
.product-list {
    @include flexbox;
    background-color: antiquewhite;
    min-height: 50vh;
}




// ----------------------------- Footer
.footer-container {
    @include flexbox;
    justify-content: space-around;
    min-height: 12rem;
    flex-wrap: wrap;
    background-color: rgba(242, 242, 242, .1);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, .05);
    .account-container {
        @include flexbox;
        flex-direction: column;
        padding: 1rem;
        .maintag {
            font-size: 1.2rem;
            font-family: $fontmain;
            text-transform: uppercase;
            color: rgba(105, 105, 105, 1);
        }
        .account-item {
            font-family: $fontmain;
            margin-top: .8rem;
            line-height: 1.3rem;
            font-size: 1.1rem;
            color: rgba(106, 105, 105, 1);
            cursor: pointer;
            transition: .4s;
            font-weight: 300;
        }
        .account-item:hover {
            transform: translateX(5px);
        }
    }
    .subscribe-container {
        @include flexbox;
        flex-direction: column;
        flex-wrap: wrap;
        .sub-text {
            text-transform: uppercase;
            font-family: $fontmain;
            font-size: 1.2rem;
            color: rgba(106, 105, 105, 1);
            width: 80%;
            text-align: center;
        }
        .form-container {
            @include flexbox;
            .form-inline {
                @include flexbox;
                input {
                    padding: 11px;
                    background-color: #fff;
                    color: rgba(0, 0, 0, 1);
                    border: 1px solid #ddd;
                    font-family: $fontmain;
                    font-size: 1.1rem;
                }
                .submit {
                    padding: .7rem;
                    margin-left: 1rem;
                }
            }
        }
    }
        .about-container {
            @include flexbox;
            flex-direction: column;
            padding: 1rem;
            .maintag {
                font-size: 1.2rem;
                font-family: $fontmain;
                text-transform: uppercase;
                color: rgba(105, 105, 105, 1);
            }
            .about-item {
                font-family: $fontmain;
                margin-top: .8rem;
                line-height: 1.3rem;
                font-size: 1.1rem;
                color: rgba(106, 105, 105, 1);
                cursor: pointer;
                transition: .4s;
                font-weight: 300;
            }
            .about-item:hover {
                transform: translateX(5px);
            }
        } 
}

.under-part {
    @include flexbox;
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid rgba(241, 106, 123, .2);
    background-color: rgba(242, 242, 242, 0.5);
    .under-text {
        font-family: $fontmain;
        margin-left: 1rem;
        color: rgba(106, 105, 105, 1);
        font-size: .9rem;
      }
}

// ----------------------------- Login
.login-page {
    @include flexbox;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 80vh;
    background-image: url('./components/images/login.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    input[type="text"], input[type="password"]  {
        border: none;
        border-bottom: 1px solid rgba(241, 106, 123, .5);
        background: transparent;
        font-family: 'Thasadith', sans-serif;
        outline: none;
        height: 35px;
        font-weight: 300;
        color: black;
        font-size: 1.1rem;
    }
    ::placeholder {
        color: rgba(106, 105, 105, .5);
        font-size: 1.1rem;
        font-weight: 200;
      }
    form {
        @include flexbox;
        flex-direction: column;
        width: 100%;
        input {
            width: 60%;
            margin-bottom: .7rem;
        }
    }
    p {
        font-family: $fontmain;
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
        margin-top: .7rem;
        color: #000;
        text-align: center;
    }
    h2 {
        width: 100%; 
        font-family: $fontmain;
        font-weight: 300;
        margin-top: .7rem;
        text-align: center;
    }
    .have-account {
        @include flexbox;
        flex-direction: column;
        width: 30rem;
        height: 35rem;
        padding: 1rem;
        background-color: rgba(250, 250, 250, .9);
        transition: .4s ease-in-out;
        span a {
            font-family: $fontmain;
            font-size: 0.8rem;
            font-weight: 600;
            margin-top: .3rem;
            text-decoration: none;
            color: rgba(0, 0, 0, 1);
        }
        .login {
            margin-top: 1rem;
            width: 6rem;
            margin-top: 3rem;
        }
        
    }
    .have-account:hover {
        background-color: rgba(250, 250, 250, 1);
    }
    .register-part{
        @include flexbox;
        flex-direction: column;
        width: 30rem;
        height: 35rem;
        padding: 1rem;
        background-color: rgba(250, 250, 250, .95);
        transition: .4s ease-in-out;
        .register-part-inner {
            width: 100%;
            display: none;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            .terms {
                font-family: $fontmain;
                span {
                    a {
                        font-weight: 600;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 1);
                    }
                } 
            }
        }
        @keyframes appearing {
            0% {
              display: visible;
              opacity: 0;
              transform: scale(0.99);
            }
            100% {
              opacity: 1;
              transform: scale(1);
            }
          }
        .register-visible {
            @include flexbox;
            animation: appearing .5s;
        }
        .register {
            margin-top: 1rem;
        }
        .register-medias {
            @include flexbox;
            width: 70%;
            padding: 0;
            margin-top: 1.3rem;
            justify-content: space-around;
            list-style-type: none;
            .register-icon {
                color: rgba(105, 105, 105, 1);
                font-size: 2rem;
                cursor: pointer;
                transition: .2s;
            }
            .register-icon:hover {
                color: rgba(55, 55, 55, 1);
            }
        }

      }
    .register-part:hover {
        background-color: rgba(250, 250, 250, 1);
    }
}

// ----------------------------- Homepage

.trends-container {
    @include flexbox;
    width: 100%;
    margin-top: 2rem;
    .trends-card {
        @include flexbox;
        width: 40rem;
        height: 40rem;
        background-size: cover;
        overflow: hidden;
        border-radius: 2%;
        margin: 0 1.5rem;
        box-shadow: 0px 0px 50px rgba(105, 105, 105, .3);
        .trends-text-wrapper {
            @include flexbox;
            width: 100%;
            height: 100%;
            padding: 1rem;
            flex-direction: column;
            transition: all .3s ease-in-out;
            .trends-title, .trends-description {
                text-align: center;
                font-family: $fontmain;
                font-size: 5rem;
                font-weight: 200;
                margin: 0;
                color: rgba(250, 250, 250, .9);
                cursor: default;
            }
            .trends-description {
                font-size: 2rem;
                cursor: default;
            }
            .pink-btn {
                margin-top: 3rem;
                background-color: rgba(241, 106, 123, 1);
                color: rgba(246, 246, 246, .8);
            }
            .pink-btn:hover {
                box-shadow: 0px 0px 20px rgba(105, 105, 105, .6);
            }
        }
        .trends-text-wrapper:hover {
            background-color: rgba(55, 55, 55, .3);
        }
    }
}

@media (max-width: 900px) {
    .trends-container {
        .trends-card {
            width: 30rem;
            height: 30rem;
        }
    }  
}

@media (max-width: 750px) {
    .trends-container {
        flex-direction: column;
        .trends-card {
            width: 100%;
            height: 30rem;
            border-radius: 0%;
        }
    }  
}
