body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6; }

a {
  text-decoration: none;
  color: unset; }

button {
  background-color: unset;
  border: none; }

button:focus {
  outline: none; }

.btn {
  font-size: 1.2rem;
  border: 1px solid rgba(241, 106, 123, 0.5);
  border-radius: .7rem;
  padding: .8rem;
  cursor: pointer;
  font-family: "Thasadith", sans-serif;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.btn:hover {
  color: #fff;
  background-color: rgba(241, 106, 123, 0.7);
  border: 1px solid rgba(241, 106, 123, 0); }

.pink-btn {
  margin-top: 3rem;
  background-color: rgba(241, 106, 123, 0.7);
  color: rgba(246, 246, 246, 0.8); }

.pink-btn:hover {
  background-color: #f16a7b; }

.white-btn {
  border: 1px solid #f2f2f2;
  color: #f6f6f6;
  margin-top: 1rem; }

.invisible {
  display: none; }

.navbar-container, .navbar-container-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
  min-height: 4rem;
  background-color: #f6f6f6;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 20px rgba(106, 105, 105, 0.1);
  box-shadow: 0px 0px 20px rgba(106, 105, 105, 0.1); }
  .navbar-container .navbar-logo, .navbar-container-small .navbar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-left: 1rem; }
    .navbar-container .navbar-logo img, .navbar-container-small .navbar-logo img {
      width: 1.3rem;
      cursor: pointer; }
  .navbar-container .hamburger-container, .navbar-container-small .hamburger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2rem;
    height: 2rem; }
    .navbar-container .hamburger-container .hamburger-menu, .navbar-container-small .hamburger-container .hamburger-menu {
      font-size: 1.3rem;
      cursor: pointer;
      color: dimgray; }
  .navbar-container .navbar-menu, .navbar-container .navbar-menu-small, .navbar-container-small .navbar-menu, .navbar-container-small .navbar-menu-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar-container .navbar-menu .menu-element, .navbar-container .navbar-menu .menu-element-small, .navbar-container .navbar-menu-small .menu-element, .navbar-container .navbar-menu-small .menu-element-small, .navbar-container-small .navbar-menu .menu-element, .navbar-container-small .navbar-menu .menu-element-small, .navbar-container-small .navbar-menu-small .menu-element, .navbar-container-small .navbar-menu-small .menu-element-small {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      font-size: 1.2rem;
      cursor: pointer;
      font-family: "Thasadith", sans-serif;
      font-weight: 200;
      text-transform: capitalize;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .navbar-container .navbar-menu .menu-element:hover, .navbar-container .navbar-menu-small .menu-element:hover, .navbar-container-small .navbar-menu .menu-element:hover, .navbar-container-small .navbar-menu-small .menu-element:hover {
      color: rgba(241, 106, 123, 0.9); }
  .navbar-container .navbar-cart, .navbar-container-small .navbar-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    height: 100%;
    position: relative;
    margin-right: 1rem; }
    .navbar-container .navbar-cart .cart-logo, .navbar-container-small .navbar-cart .cart-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      font-size: 1.3rem; }
    .navbar-container .navbar-cart .cart-items, .navbar-container-small .navbar-cart .cart-items {
      padding: 2px 6px;
      background-color: #f16a7b;
      color: white;
      font-size: 0.85rem;
      position: absolute;
      top: 1rem;
      right: 1.6rem;
      border-radius: 50%;
      font-family: "Thasadith", sans-serif; }

.navbar-small {
  display: none; }

@media (max-width: 800px) {
  .navbar-container {
    display: none; }
  .navbar-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    z-index: 4;
    top: 0; }
    .navbar-small .navbar-container-small {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .navbar-small .navbar-menu-small {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      display: none;
      list-style-type: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color: #f6f6f6;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: .4s ease-in-out;
      -o-transition: .4s ease-in-out;
      transition: .4s ease-in-out; }
      .navbar-small .navbar-menu-small .menu-element {
        font-size: 1.3rem;
        font-family: "Thasadith", sans-serif;
        padding: .5rem;
        cursor: pointer; }
    .navbar-small .visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-transition: .4s ease-in-out;
      -o-transition: .4s ease-in-out;
      transition: .4s ease-in-out; } }

@media (max-width: 500px) {
  .navbar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .navbar-container li {
      line-height: 2.5rem; }
    .navbar-container .navbar-menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .navbar-container .navbar-menu .menu-element {
        font-size: 1.5rem; } }

.slide-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgba(246, 246, 246, 0.8);
  -webkit-box-shadow: 0px 20px 20px rgba(106, 105, 105, 0.1);
  box-shadow: 0px 20px 20px rgba(106, 105, 105, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(-120%);
  -ms-transform: translateY(-120%);
  transform: translateY(-120%); }
  .slide-bar .slidebar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 2rem; }
    .slide-bar .slidebar-item .slidebar-link {
      font-size: 1.1rem;
      font-family: "Thasadith", sans-serif;
      color: rgba(0, 0, 0, 0.9);
      padding: .5rem;
      text-transform: capitalize;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .slide-bar .slidebar-item .slidebar-link:hover {
      color: rgba(241, 106, 123, 0.9); }
    .slide-bar .slidebar-item img {
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .slide-bar .slidebar-item img:hover {
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

.bar-visible {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible; }

@media (max-width: 750px) {
  .slide-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .slide-bar .slidebar-item {
      margin: 0 1rem; } }

@media (max-width: 500px) {
  .slide-bar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .slide-bar img {
      display: none; } }

.sidecart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 300px;
  background-color: aqua;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #fbfbfb;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.sidecart_visible {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 12rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(242, 242, 242, 0.1);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05); }
  .footer-container .account-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem; }
    .footer-container .account-container .maintag {
      font-size: 1.2rem;
      font-family: "Thasadith", sans-serif;
      text-transform: uppercase;
      color: dimgray; }
    .footer-container .account-container .account-item {
      font-family: "Thasadith", sans-serif;
      margin-top: .8rem;
      line-height: 1.3rem;
      font-size: 1.1rem;
      color: #6a6969;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      font-weight: 300; }
    .footer-container .account-container .account-item:hover {
      -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px); }
  .footer-container .subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-container .subscribe-container .sub-text {
      text-transform: uppercase;
      font-family: "Thasadith", sans-serif;
      font-size: 1.2rem;
      color: #6a6969;
      width: 80%;
      text-align: center; }
    .footer-container .subscribe-container .form-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-container .subscribe-container .form-container .form-inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .footer-container .subscribe-container .form-container .form-inline input {
          padding: 11px;
          background-color: #fff;
          color: black;
          border: 1px solid #ddd;
          font-family: "Thasadith", sans-serif;
          font-size: 1.1rem; }
        .footer-container .subscribe-container .form-container .form-inline .submit {
          padding: .7rem;
          margin-left: 1rem; }
  .footer-container .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem; }
    .footer-container .about-container .maintag {
      font-size: 1.2rem;
      font-family: "Thasadith", sans-serif;
      text-transform: uppercase;
      color: dimgray; }
    .footer-container .about-container .about-item {
      font-family: "Thasadith", sans-serif;
      margin-top: .8rem;
      line-height: 1.3rem;
      font-size: 1.1rem;
      color: #6a6969;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      font-weight: 300; }
    .footer-container .about-container .about-item:hover {
      -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px); }

.under-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid rgba(241, 106, 123, 0.2);
  background-color: rgba(242, 242, 242, 0.5); }
  .under-part .under-text {
    font-family: "Thasadith", sans-serif;
    margin-left: 1rem;
    color: #6a6969;
    font-size: .9rem; }

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  min-height: 80vh;
  background-image: url("./components/images/login.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .login-page input[type="text"], .login-page input[type="password"] {
    border: none;
    border-bottom: 1px solid rgba(241, 106, 123, 0.5);
    background: transparent;
    font-family: 'Thasadith', sans-serif;
    outline: none;
    height: 35px;
    font-weight: 300;
    color: black;
    font-size: 1.1rem; }
  .login-page ::-webkit-input-placeholder {
    color: rgba(106, 105, 105, 0.5);
    font-size: 1.1rem;
    font-weight: 200; }
  .login-page :-ms-input-placeholder {
    color: rgba(106, 105, 105, 0.5);
    font-size: 1.1rem;
    font-weight: 200; }
  .login-page ::-ms-input-placeholder {
    color: rgba(106, 105, 105, 0.5);
    font-size: 1.1rem;
    font-weight: 200; }
  .login-page ::placeholder {
    color: rgba(106, 105, 105, 0.5);
    font-size: 1.1rem;
    font-weight: 200; }
  .login-page form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .login-page form input {
      width: 60%;
      margin-bottom: .7rem; }
  .login-page p {
    font-family: "Thasadith", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    margin-top: .7rem;
    color: #000;
    text-align: center; }
  .login-page h2 {
    width: 100%;
    font-family: "Thasadith", sans-serif;
    font-weight: 300;
    margin-top: .7rem;
    text-align: center; }
  .login-page .have-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    padding: 1rem;
    background-color: rgba(250, 250, 250, 0.9);
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }
    .login-page .have-account span a {
      font-family: "Thasadith", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      margin-top: .3rem;
      text-decoration: none;
      color: black; }
    .login-page .have-account .login {
      margin-top: 1rem;
      width: 6rem;
      margin-top: 3rem; }
  .login-page .have-account:hover {
    background-color: #fafafa; }
  .login-page .register-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    padding: 1rem;
    background-color: rgba(250, 250, 250, 0.95);
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }
    .login-page .register-part .register-part-inner {
      width: 100%;
      display: none;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .login-page .register-part .register-part-inner .terms {
        font-family: "Thasadith", sans-serif; }
        .login-page .register-part .register-part-inner .terms span a {
          font-weight: 600;
          text-decoration: none;
          color: black; }

@-webkit-keyframes appearing {
  0% {
    display: visible;
    opacity: 0;
    -webkit-transform: scale(0.99);
    transform: scale(0.99); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes appearing {
  0% {
    display: visible;
    opacity: 0;
    -webkit-transform: scale(0.99);
    transform: scale(0.99); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
    .login-page .register-part .register-visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-animation: appearing .5s;
      animation: appearing .5s; }
    .login-page .register-part .register {
      margin-top: 1rem; }
    .login-page .register-part .register-medias {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 70%;
      padding: 0;
      margin-top: 1.3rem;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      list-style-type: none; }
      .login-page .register-part .register-medias .register-icon {
        color: dimgray;
        font-size: 2rem;
        cursor: pointer;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
      .login-page .register-part .register-medias .register-icon:hover {
        color: #373737; }
  .login-page .register-part:hover {
    background-color: #fafafa; }

.trends-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 3rem 0; }
  .trends-container .trends-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40rem;
    height: 40rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 2%;
    margin: 0 1.5rem;
    -webkit-box-shadow: 0px 0px 50px rgba(105, 105, 105, 0.3);
    box-shadow: 0px 0px 50px rgba(105, 105, 105, 0.3); }
    .trends-container .trends-card .trends-text-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 1rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .trends-container .trends-card .trends-text-wrapper .trends-title, .trends-container .trends-card .trends-text-wrapper .trends-description {
        text-align: center;
        font-family: "Thasadith", sans-serif;
        font-size: 5rem;
        font-weight: 200;
        margin: 0;
        color: rgba(250, 250, 250, 0.9);
        cursor: default; }
      .trends-container .trends-card .trends-text-wrapper .trends-description {
        font-size: 2rem;
        cursor: default; }
    .trends-container .trends-card .trends-text-wrapper:hover {
      background-color: rgba(55, 55, 55, 0.3); }

@media (max-width: 1024px) {
  .trends-container .trends-card {
    width: 30rem;
    height: 30rem;
    background-position: right; } }

@media (max-width: 900px) {
  .trends-container .trends-card {
    width: 30rem;
    height: 30rem;
    background-position: right; } }

@media (max-width: 800px) {
  .trends-container {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .trends-container .trends-card {
      width: 100%;
      height: 30rem;
      border-radius: 0%; } }

.parallax-content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 20rem;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  text-align: center; }
  .parallax-content-section .parallax-title {
    margin: 0;
    font-size: 4rem;
    font-family: "Thasadith", sans-serif;
    color: #f6f6f6;
    font-weight: 200;
    cursor: default; }
  .parallax-content-section .parallax-description {
    font-size: 1.5rem;
    font-family: "Thasadith", sans-serif;
    margin: 0;
    opacity: 1;
    margin-top: 1rem;
    color: #f6f6f6;
    cursor: default;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .parallax-content-section .btn-parallax {
    margin-top: 2rem; }
  .parallax-content-section .btn-parallax-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1.3rem;
    width: 4rem;
    height: 4rem; }

.parallax-content-section:hover {
  background-color: rgba(105, 105, 105, 0.4); }

@media (max-width: 800px) {
  .parallax-content-section .parallax-title {
    padding: 1rem;
    text-align: center;
    font-size: 3rem; }
  .parallax-content-section .parallax-description {
    margin: 0; }
  .parallax-content-section .btn-parallax {
    margin-top: 1rem; } }

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 3rem auto;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(105, 105, 105, 0.1); }
  .main-title .title-main-text, .main-title .title-main-desc {
    font-size: 3rem;
    font-family: "Thasadith", sans-serif;
    color: dimgray;
    font-weight: 200;
    margin: 0;
    cursor: default; }
  .main-title .title-main-desc {
    font-size: 1.5rem;
    text-transform: lowercase;
    letter-spacing: 2px; }

@media (max-width: 800px) {
  .main-title {
    padding: 1rem; } }

.selections-container {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .selections-container .sel-card {
    overflow: hidden;
    width: 25rem;
    height: 35rem;
    border-radius: 3%;
    margin: 0 1.5rem;
    -webkit-box-shadow: 0px 0px 50px rgba(105, 105, 105, 0.3);
    box-shadow: 0px 0px 50px rgba(105, 105, 105, 0.3); }
    .selections-container .sel-card .sel-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
      .selections-container .sel-card .sel-image .sel-text-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 100%;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
        .selections-container .sel-card .sel-image .sel-text-wrapper .sel-description, .selections-container .sel-card .sel-image .sel-text-wrapper .sel-title {
          font-size: 1.5rem;
          font-family: "Thasadith", sans-serif;
          color: #f6f6f6;
          font-weight: 200;
          margin: 0;
          opacity: 0;
          cursor: default;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }
        .selections-container .sel-card .sel-image .sel-text-wrapper .sel-title {
          font-size: 2.5rem;
          opacity: 1; }
        .selections-container .sel-card .sel-image .sel-text-wrapper .btn {
          opacity: 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
  .selections-container .sel-card:hover .sel-image {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08); }
    .selections-container .sel-card:hover .sel-image .sel-text-wrapper {
      background-color: rgba(105, 105, 105, 0.5); }
      .selections-container .sel-card:hover .sel-image .sel-text-wrapper .sel-description {
        opacity: 1; }
      .selections-container .sel-card:hover .sel-image .sel-text-wrapper .btn {
        opacity: 1; }

@media (max-width: 1050px) {
  .selections-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .selections-container .sel-card {
      overflow: hidden;
      width: 20rem;
      height: 30rem;
      border-radius: 0%;
      margin: 0; } }

@media (max-width: 800px) {
  .selections-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .selections-container .sel-card {
      overflow: hidden;
      width: 100%;
      height: 25rem;
      border-radius: 0%;
      margin: 0; }
      .selections-container .sel-card .sel-image .sel-text-wrapper {
        background-color: rgba(105, 105, 105, 0.3); }
        .selections-container .sel-card .sel-image .sel-text-wrapper .sel-description, .selections-container .sel-card .sel-image .sel-text-wrapper .sel-title {
          opacity: 1;
          cursor: default; }
        .selections-container .sel-card .sel-image .sel-text-wrapper .btn {
          opacity: 1; }
    .selections-container .sel-card:hover .sel-image {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
      .selections-container .sel-card:hover .sel-image .sel-text-wrapper {
        background-color: rgba(105, 105, 105, 0.3); }
        .selections-container .sel-card:hover .sel-image .sel-text-wrapper .sel-description {
          opacity: 1; }
        .selections-container .sel-card:hover .sel-image .sel-text-wrapper .btn {
          opacity: 1; } }

.insta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 2rem 0; }
  .insta-container .insta-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    width: 18rem;
    height: 18rem;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 30px rgba(105, 105, 105, 0.3);
    box-shadow: 0px 0px 30px rgba(105, 105, 105, 0.3);
    cursor: pointer; }
    .insta-container .insta-card .middle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 80%;
      height: 80%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .insta-container .insta-card .middle .insta-link {
        font-size: 1.2rem;
        opacity: 1;
        color: #f2f2f2;
        font-family: "Thasadith", sans-serif;
        border-bottom: 1px solid rgba(242, 242, 242, 0); }
      .insta-container .insta-card .middle .insta-link:hover {
        border-bottom: 1px solid rgba(242, 242, 242, 0.6); }
  .insta-container .insta-card:hover .middle {
    opacity: 1; }

@media (max-width: 800px) {
  .insta-card {
    margin-top: 1rem; } }

.featured-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .featured-section .featured-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 85%; }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 22rem;
  background-color: rgba(250, 250, 250, 0.7);
  overflow: hidden;
  margin: 1rem 1rem;
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .product-card .image-container {
    width: 100%;
    overflow: hidden; }
    .product-card .image-container img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      cursor: pointer;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s; }
  .product-card .product-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .product-card .product-details .product-category {
      font-family: "Thasadith", sans-serif;
      cursor: default;
      font-size: .8rem;
      font-weight: 700;
      letter-spacing: .2rem;
      margin: 0;
      margin-top: .5rem;
      text-transform: uppercase;
      color: #ccc; }
    .product-card .product-details .product-title {
      font-weight: 200;
      font-family: "Thasadith", sans-serif;
      text-transform: none;
      font-size: 1.3rem;
      margin: 0;
      margin-top: .5rem;
      padding: .3rem;
      color: #373737;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .product-card .product-details .product-title:hover {
      color: rgba(241, 106, 123, 0.7); }
  .product-card .product-bottom-details {
    width: 80%;
    height: 3rem;
    padding: .5rem;
    border-top: 1px solid rgba(241, 106, 123, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .product-card .product-bottom-details .product-price {
      font-family: "Thasadith", sans-serif;
      font-size: 1.5rem;
      color: black;
      font-weight: 300;
      cursor: default; }
    .product-card .product-bottom-details .cart-btn {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      cursor: pointer;
      color: #e1e1e1;
      font-size: 2rem;
      transition: .3s; }
    .product-card .product-bottom-details .cart-btn:hover {
      color: rgba(95, 174, 87, 0.6); }

.product-card:hover {
  -webkit-box-shadow: 0px 0px 50px rgba(105, 105, 105, 0.1);
  box-shadow: 0px 0px 50px rgba(105, 105, 105, 0.1);
  background-color: #fafafa; }

.card-small {
  width: 18rem; }

.card-normal {
  width: 22rem; }

.products-list .products-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
