

$mainpink: rgba(241, 106, 123, .9);
$mainwhite: rgba(246, 246, 246, 1);
$fontmain: 'Thasadith', sans-serif;

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(246, 246, 246, 1);
}


a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: unset;
    border: none;
}

button:focus{
    outline: none;
}

.btn {
    font-size: 1.2rem;
    border: 1px solid rgba(241, 106, 123, .5);
    border-radius: .7rem;
    padding: .8rem;
    cursor: pointer;
    font-family: $fontmain;
    transition: .2s;
    margin-top: .4rem;
  }
.btn:hover {
    color: #fff;
    background-color: rgba(241, 106, 123, .7);
    border: 1px solid rgba(241, 106, 123, 0); 
}

.pink-btn {
    margin-top: 3rem;
    background-color: rgba(241, 106, 123, .7);
    border: none;
    color: rgba(246, 246, 246, .8);
}
.pink-btn:hover {
    background-color: rgba(241, 106, 123, 1);
}

.white-btn {
    border: 1px solid rgba(242, 242, 242, 1);
    color: rgba(246, 246, 246, 1);
    margin-top: 1rem;
}

.cart-btn {
    transition: .3s;
    cursor: pointer;
    color: #e1e1e1;
    font-size: 2rem;
    transition: .3s;
    .in-cart-sign {
        font-size: 1.2rem;
        font-weight: 600;
        padding: .6rem;
        font-family: $fontmain;
        color: rgba(242, 242, 242, .9);
        background-color: rgba(95, 174, 87, .6);
        border-radius: 10px;
        margin: 0;
        transition: .4s;
      }
}
.cart-btn:hover {
    color: rgba(95, 174, 87, .6);
}

.cart-active {
    color: rgba(95, 174, 87, .6);
}

.invisible {
    display: none;
}

// ----------------------------- Navbar
.navbar-container, .navbar-container-small {
    @include flexbox;
    opacity: 1;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 4;
    width: 100%;
    min-height: 4rem;
    background-color: $mainwhite;
    transition: .3s;
    box-shadow: 0px 0px 20px rgba(106, 105, 105, .1);
    .navbar-logo{
        img {
            width: 9rem;
            cursor: pointer;
        }
    }
    .pd-logo {
        font-family: 'Poiret One', cursive;
        font-size: 2rem;
        color: rgba(106, 105, 105, 1);
        margin: 0;
        padding: 1rem;
        span {
            color: rgba(241, 106, 123, 1);
        }
    }
    .hamburger-container {
        @include flexbox;
        width: 2rem;
        height: 2rem;
        .hamburger-menu {
            font-size: 1.3rem;
            cursor: pointer;
            color: rgba(105, 105, 105, 1);
        }
    }
    .navbar-menu, .navbar-menu-small {
        @include flexbox;
        width: 70%;
        height: 100%;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .menu-element, .menu-element-small {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            font-size: 1.2rem;
            cursor: pointer;
            font-family: $fontmain;
            font-weight: 200;
            text-transform: capitalize;
            transition: .3s;
        }
        .menu-element:hover {
            color: $mainpink;
        }
    }
    .navbar-cart {
        @include flexbox;
        width: 100px;
        height: 100%;
        position: relative;
        margin-right: 1rem;
        .cart-logo {
            @include flexbox;
            cursor: pointer;
            font-size: 1.3rem;
        }
        .cart-items {
            padding: 2px 6px;
            background-color: rgba(241, 106, 123, 1);
            color: rgba(255, 255, 255, 1);
            font-size: 0.85rem;
            position: absolute;
            top: 1rem;
            right: 1.6rem;
            border-radius: 50%;
            font-family: $fontmain;
        }
    }
}

.navbar-small {
    display: none;
}

@media (max-width: 800px) {
    .navbar-container {
        display: none;
    }
    .navbar-small {
        @include flexbox;
        flex-direction: column;
        position: sticky;
        z-index: 4;
        top: 0;
        .navbar-container-small {
            @include flexbox;
            justify-content: space-around;
            box-shadow: none;
        }

        .navbar-menu-small {
            @include flexbox;
            width: 100%;
            display: none;
            list-style-type: none;
            flex-direction: column;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: $mainwhite;
            transform: translateY(-100%);
            transition: .4s ease-in-out;
            .menu-element {
                font-size: 1.3rem;
                font-family: $fontmain;
                padding: .5rem;
                cursor: pointer;
            }
        }
        .visible {
            @include flexbox;
            transform: translateY(0%);
            transition: .4s ease-in-out;
        }
    }
    
} 

@media (max-width: 500px) {
    .navbar-container {
        flex-direction: column;
        li {
            line-height: 2.5rem;
        }
        .navbar-menu {
            flex-direction: column;
            .menu-element {
                font-size: 1.5rem;
            }
        }
    }}


// ----------------------------- Slidebar menu
.slide-bar {
    @include flexbox;
    visibility: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgba(246, 246, 246, .8);
    box-shadow: 0px 20px 20px rgba(106, 105, 105, .1);
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all .5s ease-in-out;
    transform: translateY(-120%);
    .slidebar-item {
        @include flexbox;
        flex-direction: column;
        margin: 0 2rem;
        .slidebar-link {
            font-size: 1.1rem;
            font-family: $fontmain;
            color: rgba(0, 0, 0, .9);
            padding: .5rem;
            text-transform: capitalize;
            transition: .3s;
        }
        .slidebar-link:hover {
            color: rgba(241, 106, 123, .9);
        }
        img {
            cursor: pointer;
            transition: .3s;
        }
        img:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
        }
    }
}

.bar-visible {
    transform: translateY(0%);
    visibility: visible;
}

@media (max-width: 750px) {
    .slide-bar {
        flex-direction: column;
        .slidebar-item {
            margin: 0 1rem;
    }
}}


@media (max-width: 500px) {
    .slide-bar {
        flex-wrap: wrap;
        flex-direction: column;
        img {
            display: none;
        }
    }
}

// ----------------------------- Slidecart menu
.sidecart {
    @include flexbox;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    overflow: scroll;
    z-index: 2;
    right: 0;
    height: 95%;
    width: 27rem;
    transform: translateX(100%);
    background-color: rgba(251, 251, 251, 1);
    box-shadow: 0px 0px 30px rgba(106, 105, 105, .1);
    transition: all .5s ease-in-out;
    .btn-sidecart {
        margin: 2rem 0;
    }
    .sidecart-top {
        @include flexbox;
        justify-content: space-between;
        align-items: center;
        width: 20rem;
        margin-top: .5rem;
        border-bottom: 1px solid rgba(105, 105, 105, .2);
        .sidecart-title {
            font-family: $fontmain;
            font-size: 1.3rem;
            padding: 1rem;
            margin: 0;
            padding: .5rem;
        }
        .close-sidecart-btn {
            font-family: $fontmain;
            font-size: 1.5rem;
            padding: 1rem;
            margin: 0;
            color: rgba(105, 105, 105, .7);
            cursor: pointer;
            padding: .5rem;
        }
    }
    .cart-menu-content {
        @include flexbox;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style-type: none;
        width: 25rem;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 1rem; 
        .cart-menu-item {
            @include flexbox;
            width: 100%;
            justify-content: flex-start;
            position: relative;
            margin: .1rem 2rem;
            img {
                width: 5rem;
                margin-right: 0rem;
            }
            .cart-item-info {
                @include flexbox;
                width: 10rem;
                padding: .5rem;
                align-self: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                .menu-item-title {
                    align-self: flex-start;
                    font-size: 1rem;
                    font-family: $fontmain;
                    margin: 0;
                }
                .menu-item-count {
                    align-self: flex-start;
                    font-size: 1rem;
                    font-family: $fontmain;
                    margin: 0;
                }
                .menu-item-price {
                    align-self: flex-start;
                    font-size: 1.3rem;
                    font-family: $fontmain;
                    margin-top: .5rem;
                }
            }
        }
    }
    .order-total {
        @include flexbox;
        width: 20rem;
        justify-content: space-between;
        border-bottom: 1px solid rgba(105, 105, 105, .2);
        border-top: 1px solid rgba(105, 105, 105, .2);
        p {
            font-family: $fontmain;
            font-size: 1.3rem;
            padding: .5rem;
            margin: 0;
        }
    }
}

.sidecart_visible {
    transform: translateX(0%);
}


// ----------------------------- Footer
.footer-container {
    @include flexbox;
    justify-content: space-around;
    min-height: 12rem;
    flex-wrap: wrap;
    background-color: rgba(242, 242, 242, .1);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, .05);
    .account-container {
        @include flexbox;
        flex-direction: column;
        padding: 1rem;
        .maintag {
            font-size: 1.2rem;
            font-family: $fontmain;
            text-transform: uppercase;
            color: rgba(105, 105, 105, 1);
        }
        .account-item {
            font-family: $fontmain;
            margin-top: .8rem;
            line-height: 1.3rem;
            font-size: 1.1rem;
            color: rgba(106, 105, 105, 1);
            cursor: pointer;
            transition: .4s;
            font-weight: 300;
        }
        .account-item:hover {
            transform: translateX(5px);
        }
    }
    .subscribe-container {
        @include flexbox;
        flex-direction: column;
        flex-wrap: wrap;
        .sub-text {
            text-transform: uppercase;
            font-family: $fontmain;
            font-size: 1.2rem;
            color: rgba(106, 105, 105, 1);
            width: 80%;
            text-align: center;
        }
        .form-container {
            @include flexbox;
            .form-inline {
                @include flexbox;
                input {
                    padding: 11px;
                    background-color: #fff;
                    color: rgba(0, 0, 0, 1);
                    border: 1px solid #ddd;
                    font-family: $fontmain;
                    font-size: 1.1rem;
                }
                .submit {
                    padding: .7rem;
                    margin-left: 1rem;
                }
            }
        }
    }
        .about-container {
            @include flexbox;
            flex-direction: column;
            padding: 1rem;
            .maintag {
                font-size: 1.2rem;
                font-family: $fontmain;
                text-transform: uppercase;
                color: rgba(105, 105, 105, 1);
            }
            .about-item {
                font-family: $fontmain;
                margin-top: .8rem;
                line-height: 1.3rem;
                font-size: 1.1rem;
                color: rgba(106, 105, 105, 1);
                cursor: pointer;
                transition: .4s;
                font-weight: 300;
            }
            .about-item:hover {
                transform: translateX(5px);
            }
        } 
}

.under-part {
    @include flexbox;
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid rgba(241, 106, 123, .2);
    background-color: rgba(242, 242, 242, 0.5);
    .under-text {
        font-family: $fontmain;
        margin-left: 1rem;
        color: rgba(106, 105, 105, 1);
        font-size: .9rem;
      }
}

// ----------------------------- Login
.login-page {
    @include flexbox;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    min-height: 80vh;
    background-image: url('./components/images/login.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    input[type="text"], input[type="password"]  {
        border: none;
        border-bottom: 1px solid rgba(241, 106, 123, .5);
        background: transparent;
        font-family: 'Thasadith', sans-serif;
        outline: none;
        height: 35px;
        font-weight: 300;
        color: black;
        font-size: 1.1rem;
    }
    ::placeholder {
        color: rgba(106, 105, 105, .5);
        font-size: 1.1rem;
        font-weight: 200;
      }
    form {
        @include flexbox;
        flex-direction: column;
        width: 100%;
        input {
            width: 60%;
            margin-bottom: .7rem;
        }
    }
    p {
        font-family: $fontmain;
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
        margin-top: .7rem;
        color: #000;
        text-align: center;
    }
    h2 {
        width: 100%; 
        font-family: $fontmain;
        font-weight: 300;
        margin-top: .7rem;
        text-align: center;
    }
    .have-account {
        @include flexbox;
        flex-direction: column;
        width: 30rem;
        height: 35rem;
        padding: 1rem;
        background-color: rgba(250, 250, 250, .9);
        transition: .4s ease-in-out;
        span a {
            font-family: $fontmain;
            font-size: 0.8rem;
            font-weight: 600;
            margin-top: .3rem;
            text-decoration: none;
            color: rgba(0, 0, 0, 1);
        }
        .login {
            margin-top: 1rem;
            width: 6rem;
            margin-top: 3rem;
        }
        
    }
    .have-account:hover {
        background-color: rgba(250, 250, 250, 1);
    }
    .register-part{
        @include flexbox;
        flex-direction: column;
        width: 30rem;
        height: 35rem;
        padding: 1rem;
        background-color: rgba(250, 250, 250, .95);
        transition: .4s ease-in-out;
        .register-part-inner {
            width: 100%;
            display: none;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            .terms {
                font-family: $fontmain;
                span {
                    a {
                        font-weight: 600;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 1);
                    }
                } 
            }
        }
        @keyframes appearing {
            0% {
              display: visible;
              opacity: 0;
              transform: scale(0.99);
            }
            100% {
              opacity: 1;
              transform: scale(1);
            }
          }
        .register-visible {
            @include flexbox;
            animation: appearing .5s;
        }
        .register {
            margin-top: 1rem;
        }
        .register-medias {
            @include flexbox;
            width: 70%;
            padding: 0;
            margin-top: 1.3rem;
            justify-content: space-around;
            list-style-type: none;
            .register-icon {
                color: rgba(105, 105, 105, 1);
                font-size: 2rem;
                cursor: pointer;
                transition: .2s;
            }
            .register-icon:hover {
                color: rgba(55, 55, 55, 1);
            }
        }

      }
    .register-part:hover {
        background-color: rgba(250, 250, 250, 1);
    }
}

// ----------------------------- Homepage

.trends-container {
    @include flexbox;
    width: 100%;
    margin: 5rem 0;
    .trends-card {
        @include flexbox;
        width: 40rem;
        height: 40rem;
        background-size: cover;
        overflow: hidden;
        border-radius: 2%;
        margin: 0 1.5rem;
        box-shadow: 0px 0px 50px rgba(105, 105, 105, .3);
        .trends-text-wrapper {
            @include flexbox;
            width: 100%;
            height: 100%;
            padding: 1rem;
            flex-direction: column;
            transition: all .3s ease-in-out;
            .trends-title, .trends-description {
                text-align: center;
                font-family: $fontmain;
                font-size: 5rem;
                font-weight: 200;
                margin: 0;
                color: rgba(250, 250, 250, .9);
                cursor: default;
            }
            .trends-description {
                font-size: 2rem;
                cursor: default;
            }
        }
        .trends-text-wrapper:hover {
            background-color: rgba(55, 55, 55, .3);
        }
    }
}

@media (max-width: 1024px) {
    .trends-container {
        .trends-card {
            width: 30rem;
            height: 30rem;
            background-position: right;
        }
    }  
}


@media (max-width: 900px) {
    .trends-container {
        .trends-card {
            width: 30rem;
            height: 30rem;
            background-position: right;
        }
    }  
}

@media (max-width: 800px) {
    .trends-container {
        margin: 0;
        flex-direction: column;
        .trends-card {
            width: 100%;
            height: 30rem;
            border-radius: 0%;
        }
    }  
}


// ----------------------------- Parallax Banner

.parallax-content-section {
    @include flexbox;
    flex-direction: column;
    height: 30rem;
    transition: .4s ease-in-out;
    text-align: center;
    .parallax-title {
        margin: 0;
        font-size: 4rem;
        font-family: $fontmain;
        color: rgba(246, 246, 246, 1);
        font-weight: 200;
        cursor: default;
    }
    .parallax-description {
        font-size: 1.5rem;
        font-family: $fontmain;
        margin: 0;
        opacity: 1;
        margin-top: 1rem;
        color: rgba(246, 246, 246, 1);
        cursor: default;
        transition: .3s;
    }
    .btn-parallax {
        margin-top: 2rem;
    }
    .btn-parallax-2 {
        @include flexbox;
        font-size: 2rem;
        margin-top: 1.3rem;
        width: 4rem;
        height: 4rem;   
    }
}
.parallax-content-section:hover {
    background-color: rgba(105, 105, 105, .4);
}

@media (max-width: 800px) {
    .parallax-content-section {
        .parallax-title {
            padding: 1rem;
            text-align: center; 
            font-size: 3rem;      
        }  
        .parallax-description {
            margin: 0;
        }
        .btn-parallax {
            margin-top: 1rem;
        }
    }  
}

// ----------------------------- Main title
.main-title {
    @include flexbox;
    width: 40%;
    flex-direction: column;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(105, 105, 105, .1);
    .title-main-text, .title-main-desc {
        font-size: 3rem;
        font-family: $fontmain;
        color: rgba(105, 105, 105, 1);
        font-weight: 200;
        margin: 0;
        cursor: default;
    }
    .title-main-desc {
        font-size: 1.5rem;
        text-transform: lowercase;
        letter-spacing: 2px;
    }
}

@media (max-width: 800px) {
    .main-title {
        padding: 1rem;
    }
}

// ----------------------------- Selections
.selections-container {
    margin-bottom: 4rem;
    @include flexbox;
    .sel-card {
        overflow: hidden;
        width: 25rem;
        height: 35rem; 
        border-radius: 3%;
        margin: 0 1.5rem;
        box-shadow: 0px 0px 50px rgba(105, 105, 105, .3);
        .sel-image {
            @include flexbox;
            height: 100%;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: .3s ease-in-out;
            .sel-text-wrapper {
                @include flexbox;
                flex-direction: column;
                width: 100%;
                height: 100%;
                transition: .3s ease-in-out;
                .sel-description, .sel-title {
                    font-size: 1.5rem;
                    font-family: $fontmain;
                    color: rgba(246, 246, 246, 1);
                    font-weight: 200;
                    margin: 0;
                    opacity: 0;
                    cursor: default;
                    transition: .3s ease-in-out;
                }
                .sel-title {
                    font-size: 2.5rem;
                    opacity: 1;
                }
                .btn {
                    opacity: 0;
                    transition: .3s;
                }
            }
        }
    }
    .sel-card:hover {
        .sel-image {
            transform: scale(1.08);
            .sel-text-wrapper {
                background-color: rgba(105, 105, 105, .5);
                .sel-description {
                    opacity: 1;
                }
                .btn {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    .selections-container {
        flex-direction: row;
        .sel-card {
            overflow: hidden;
            width: 20rem;
            height: 30rem; 
            border-radius: 0%;
            margin: 0;
        }       
    }
}

@media (max-width: 800px) {
    .selections-container {
        flex-direction: column;
        .sel-card {
            overflow: hidden;
            width: 100%;
            height: 25rem; 
            border-radius: 0%;
            margin: 0;
            .sel-image {
                .sel-text-wrapper {
                    background-color: rgba(105, 105, 105, .3);
                    .sel-description, .sel-title {
                        opacity: 1;
                        cursor: default;
                    }
                    .btn {
                        opacity: 1;
                    }
                }
            }
        }
        .sel-card:hover {
            .sel-image {
                transform: scale(1);
                .sel-text-wrapper {
                    background-color: rgba(105, 105, 105, .3);
                    .sel-description {
                        opacity: 1;
                    }
                    .btn {
                        opacity: 1;
                    }
                }
            }
        } 
}  }


// ----------------------------- Instagram section

.insta-container {
    @include flexbox;
    justify-content: center;
    flex-wrap: wrap;
    .insta-card {
        @include flexbox;
        background-size: cover;
        width: 18rem;
        height: 18rem;
        margin: 1rem 1rem;
        border-radius: 5%;
        box-shadow: 0px 0px 30px rgba(105, 105, 105, .3);
        cursor: pointer;
        .middle {
            @include flexbox;
            width: 80%;
            height: 80%;
            background-color: rgba(0, 0, 0, .3);
            opacity: 0;
            transition: .3s;
            .insta-link {
                font-size: 1.2rem;
                opacity: 1;
                color: rgba(242, 242, 242, 1);
                font-family: $fontmain;
                border-bottom: 1px solid rgba(242, 242, 242, 0);
            }
            .insta-link:hover {
                border-bottom: 1px solid rgba(242, 242, 242, .6);
            }
        }
    }
    .insta-card:hover {
        .middle {
            opacity: 1;
        }
    }
}

@media (max-width: 800px) {
    .insta-card {
        margin-top: 1rem;
    }
}

// ----------------------------- Featured Section
.featured-section {
    @include flexbox;
    flex-direction: column;
    .featured-items {
        @include flexbox;
        justify-content: center;
        flex-wrap: wrap;
        width: 85%;
    }
}


// ----------------------------- Product Card
.product-card {
    @include flexbox;
    flex-direction: column;
    width: 22rem;
    box-shadow: 0px 0px 50px rgba(105, 105, 105, .1);
    border: 1px solid rgba(105, 105, 105, .1);
    overflow: hidden;
    margin: 1rem 1rem;
    border-radius: 1rem;
    transition: .3s;
    .image-container {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            cursor: pointer;
            transition: .7s;
        }
    }
    .product-details {
        @include flexbox;
        flex-direction: column;
        .product-category {
            font-family: $fontmain;
            cursor: default;
            font-size: .8rem;
            font-weight: 700;
            letter-spacing: .2rem;
            margin: 0;
            margin-top: .5rem;
            text-transform: uppercase;
            color: #ccc;
        }
        .product-title {
            font-weight: 200;
            font-family: $fontmain;
            text-transform: none;
            font-size: 1.3rem;
            margin: 0;
            margin-top: .5rem; 
            padding: .3rem;
            color: rgba(55, 55, 55, 1);
            cursor: pointer;
            transition: .3s;
        }
        .product-title:hover {
            color: rgba(241, 106, 123, .7);
        }
    }
    .product-bottom-details {
        width: 90%;
        height: 3rem;
        padding: .5rem;
        border-top: 1px  solid rgba(241, 106, 123, .3);
        @include flexbox;
        justify-content: space-between;
        .product-price {
            font-family: $fontmain;
            font-size: 1.5rem;
            color: black;
            font-weight: 300;
            cursor: default;
        }
    }
}

.product-card:hover {
    box-shadow: 0px 0px 50px rgba(105, 105, 105, .2);
    background-color: rgba(250, 250, 250, 1);
}

.card-small {
    width: 18rem;
    height: 30rem;
    padding: .5rem;
    background-color: none;
    box-shadow: none;
    border: none;
    .image-container {
        img {
            width: 100%;
        }
    }
    .product-details {
        .product-title {
            font-size: 1.1rem;
        }
    }
    .product-bottom-details {
    }
}

.card-small:hover {
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .2);
    transform: scale(1.05);
}

.card-normal {
    width: 22rem;
}


// ----------------------------- Products Section (in Product Page)
.products-list {
    .products-container {
        width: 80%;
        margin: auto;
        @include flexbox;
        flex-wrap: wrap;
    }
    .filters-display {
        @include flexbox;
        margin: auto;
        .filters-display-item {
            margin: 0 1rem;
            font-family: $fontmain;
        }
    }
}

@media (max-width: 1450px) {
    .products-list {
        .products-container {
            width: 100%;
        }
    }
}


// ----------------------------- Single Product Page
.single-product-page {
    width: 100%;
    @include flexbox;
    flex-direction: column;
    .details-content {
        @include flexbox;
        justify-content: space-around;
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;;
        .details-images-container {
            @include flexbox;
            flex-direction: column;
            width: 40%;
            img {
                width: 100%;
                margin-top: 2rem;
                min-width: 500px;
            }
        }
        .details-menu-container { 
            .details-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30%;
                min-height: 50%;
                padding: 3rem;
                transition: .3s;
                position: fixed;
                top: 15%;
                right: 5%;
                .text-title {
                    font-family: $fontmain;
                    text-align: center;
                }
                .details-title {
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: .3rem;
                }
                .details-category {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    color: rgba(105, 105, 105, .6);
                    padding: .3rem;
                }
                .details-price {
                    width: 70%;
                    text-align: center;
                    font-size: 1.8rem;
                    margin: 0;
                    padding: .5rem;
                    border-bottom: 1px solid rgba(105, 105, 105, .2);
                }
                .details-item-info {
                    @include flexbox;
                    justify-content: flex-start;
                    flex-direction: column;
                    width: 70%;
                    margin: 0;
                    padding: 1rem;
                    .details-note {
                        align-self: flex-start;
                        font-size: 1.3rem;
                        margin-bottom: 1rem;
                        font-weight: 400;
                        letter-spacing: .1rem;
                    }
                    .details-description {
                        font-size: 1.1rem;
                        letter-spacing: .1rem;
                    }
                }
                .details-filter {
                    @include flexbox;
                    .size-filter-box {
                        @include flexbox;
                        width: 100%;
                        justify-content: space-around;
                        .size-box {
                            @include flexbox;
                            flex-direction: column;
                            width: 9rem;
                            padding: 1rem;
                            p {
                                font-size: 1.3rem;
                                color: rgba(241, 106, 123, .9);
                            }
                            .size-list {
                                list-style-type: none;
                                padding: 0;
                                @include flexbox;
                                border: 1px solid rgba(105, 105, 105, .1);
                                padding: .5rem;
                                border-radius: .3rem;
                                .filter-item {
                                    margin: 0 .3rem;
                                    cursor: pointer;
                                    transition: .2s;
                                    font-family: $fontmain;
                                    font-size: 1.2rem;
                                }
                                .filter-item:hover {
                                    color: rgba(241, 106, 123, .7);
                                }
                            }
                        }
                    }
                    }
                }
                .details-btn {
                    @include flexbox;
                    width: 65%;
                    justify-content: space-around;
                    .btn-details-back {
                        margin: 0;
                        font-size: 1.3rem;
                        padding: .6rem;
                        span {
                            color: rgba(241, 106, 123, 1);
                            transition: .3s;
                        }
                    }
                    .btn-details-back:hover {
                        span {
                            color: rgba(251, 251, 251, 1);
                        }
                    }
                }
            }
        }
    }


// ----------------------------- Cart

.cart-items-titles, .cart-items-list {
    @include flexbox;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cart-item {
    @include flexbox;
    width: 5rem;
    font-family: $fontmain;
    font-size: 1.2rem;
    min-height: 4rem;
    img {
        width: 7rem;
    }
}

// Cart Totals
.totals-container {
    @include flexbox;
    width: 100%;
    justify-content: flex-end;
    .totals-inner-container {
        @include flexbox;
        flex-direction: column;
        margin-right: 5rem;
        background-color: rgba(250, 250, 250, 1);
        padding: 20px;
        transition: .3s;
        .subtotal, .tax, .total {
            @include flexbox;
            justify-content: space-between;
            height: 1rem;
            width: 20rem;
            padding: .5rem;
            margin: .5rem 0rem;
            border-bottom: .5px solid rgba(106, 105, 105, .15);
            font-size: 1.2rem;
            font-family: $fontmain;
        }
        .totals-btns {
            width: 100%;
            @include flexbox;
            justify-content: space-around;
            .totals-btn {
                margin: 0;
                margin-top: 1rem;
            }
        }
    }
    .totals-inner-container:hover {
        box-shadow: 0px 0px 80px rgba(106, 105, 105, .05);
    }
}

// Cart Item

.cart-items-list {
    align-items: flex-start;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(220, 220, 220, .7);
    padding: .5rem;
}

#trash-icon {
    cursor: pointer;
    color: rgba(106, 105, 105, .7);
}

.quantity-btn {
    background-color: unset;
    border: 1px solid rgba(241, 106, 123, .7);
    color: rgba(241, 106, 123, .7);
    border-radius: 5px;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    transition: .2s;
    margin: 0 1rem;
}

.quantity-btn:hover {
    background-color: rgba(241, 106, 123, .7);
    color: #fff;
    border: 1px solid rgba(241, 106, 123, 0);
}


// ----------------------------- Filters

.fa-sort-down{
    color: rgba(105, 105, 105, .6);
}

.filter-wrapper {
    @include flexbox;
    width: 60%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 5rem;
    margin-top: 2rem;
    .filter {
        @include flexbox;
        min-width: 7rem;
        margin: 0;
        .filter-title {
            cursor: pointer;
            font-family: $fontmain;
        }
        .filter-list, .price-container{
            @include flexbox;
            justify-content: center;
            flex-wrap: wrap;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            font-size: 1rem;
            width: 9rem;
            height: 13rem;
            padding: 1rem;
            cursor: default;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, .15);
            background-color: rgba(242, 242, 242, .9);
            transform: translateX(0rem);
            border-radius: 1rem;
            margin-top: 11rem;
            transition: .4s;
            .price-screen {
                font-family: $fontmain;
                margin: 0;
            }
            .filter-item {
                @include flexbox;
                width: 40%;
                font-family: $fontmain;
                text-transform: capitalize;
                font-size: 1.1rem;
                padding: .3rem;
                margin: 0 0;
                cursor: pointer;
                transition: .2s;
            }
            .active-item {
                color: rgba(241, 106, 123, 1);
            }
            .filter-item:hover {
                color: rgba(241, 106, 123, .9);
            }
            .tights-item {
                width: 100%;
                margin: 0;
                margin-top: .3rem;
            }       
        }
        .price-container {
            flex-direction: column;
            width: 10rem;
        }
        .size-list {
            flex-direction: column;
            width: 3rem;
        }
        .shoes-list {
            flex-direction: column;
            width: 5rem;
        }
        .tights-list {
            @include flexbox;
            width: 5rem;
        }
        .tights-container-visible {
            opacity: 1;
            margin-top: 7rem;
            visibility: visible;
        }
        .color-container-visible {
            opacity: 1;
            margin-top: 9rem;
            visibility: visible;
        }
        .size-container-visible {
            opacity: 1;
            margin-top: 8rem;
            visibility: visible;
        }
        .shoes-container-visible {
            opacity: 1;
            margin-top: 8rem;
            visibility: visible;
        }
        .price-window-visible {
            margin-top: 4rem;
            opacity: 1;
            visibility: visible;
        }  
    }
    .price-container {
        input {
            background-color: $mainwhite;
        }
        input[type=range] {
            height: 2rem;
            -webkit-appearance: none;
            background-color: unset;
            width: 100%;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            background: rgba(241, 106, 123, .7);
        }
        input[type=range]::-webkit-slider-thumb {
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 21px;
            background: rgba(220, 220, 220, 1);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -10px;
        }
    }
    
    .size-filter {
        display: none;
    }
    .bra-size-filter-visible, .size-filter-visible,
    .cup-size-filter-visible, .tights-size-filter-visible,
    .shoes-size-filter-visible {
        @include flexbox;
    }
    .search-filter {
        input[type="text"] {
            border: none;
            border-bottom: 1px solid rgba(241, 106, 123, .5);
            background: transparent;
            font-family: 'Thasadith', sans-serif;
            text-align: center;
            outline: none;
            height: 35px;
            font-weight: 300;
            color: black;
            font-size: 1.1rem;
        }    
    }
}

// ----------------------------- Local Navbar (in Products)

.local-nav {
    display: none;
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
    .local-nav-item {
        font-family: $fontmain;
        font-size: 1.3rem;
        text-transform: capitalize;
        transition: .3s;
        padding: .5rem;
        margin: 0 1.5rem;
    }
    .local-nav-item:hover {
        color: rgba(241, 106, 123, 1);
    }
}

.local-nav-bra, .local-nav-panties,
.local-nav-sleepwear, .local-nav-accs {
    @include flexbox;
    flex-wrap: wrap;
}

.link-active {
    color: rgba(241, 106, 123, 1);
}

